
th {
    vertical-align: middle;
    background-color:blue;
    border: solid 2px black;
    color: white;
    width: 800px;
}

tr {
    border: solid 2px black;
    height: 25px;
    background-color: whitesmoke;
    }

td {
    border: solid 2px black;
    vertical-align: middle;
    text-align:center;
}